# Data Science DJ

## By Griffin Olson-Allen

## Cleaning, visualizing, analyzing, and predicting using the data gathered in data.py

### Part 1: Cleaning

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("song_data.csv")

In [3]:
len(df)

1038

In [4]:
df.head()

,name,id,duration_ms_x,explicit,popularity,danceability,energy,key,loudness,mode,...,type,uri,track_href,analysis_url,duration_ms_y,time_signature,end_of_fade_in,start_of_fade_out,analysis_sample_rate,error
0,Paradise (feat. Dermot Kennedy),6ft4hAq6yde8jPZY2i5zLr,167903,False,90,0.632,0.595,8.0,-7.644,0.0,...,audio_features,spotify:track:6ft4hAq6yde8jPZY2i5zLr,https://api.spotify.com/v1/tracks/6ft4hAq6yde8...,https://api.spotify.com/v1/audio-analysis/6ft4...,167903.0,4.0,0.00000,164.94295,22050,NaN
1,What's Love Got to Do with It,3Be7CLdHZpyzsVijme39cW,208156,False,80,0.750,0.664,8.0,-5.908,0.0,...,audio_features,spotify:track:3Be7CLdHZpyzsVijme39cW,https://api.spotify.com/v1/tracks/3Be7CLdHZpyz...,https://api.spotify.com/v1/audio-analysis/3Be7...,208156.0,4.0,0.17941,200.16762,22050,NaN
2,All You Need To Know (feat. Calle Lehmann),4Gcv5SsxnQWpmOnUI19EJk,238458,False,72,0.513,0.788,0.0,-4.629,1.0,...,audio_features,spotify:track:4Gcv5SsxnQWpmOnUI19EJk,https://api.spotify.com/v1/tracks/4Gcv5SsxnQWp...,https://api.spotify.com/v1/audio-analysis/4Gcv...,238459.0,4.0,3.70939,230.09235,22050,NaN
3,Dreamers,1MF0hyC0NLN0IcI4FpQKYl,181935,False,50,0.780,0.808,7.0,-4.913,1.0,...,audio_features,spotify:track:1MF0hyC0NLN0IcI4FpQKYl,https://api.spotify.com/v1/tracks/1MF0hyC0NLN0...,https://api.spotify.com/v1/audio-analysis/1MF0...,181935.0,4.0,0.47596,177.35982,22050,NaN
4,Big Love (with Wrabel),0PGpWcKIlayTwPdz6Qstol,182115,False,57,0.483,0.761,8.0,-7.150,0.0,...,audio_features,spotify:track:0PGpWcKIlayTwPdz6Qstol,https://api.spotify.com/v1/tracks/0PGpWcKIlayT...,https://api.spotify.com/v1/audio-analysis/0PGp...,182116.0,4.0,2.17107,176.52971,22050,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1038 entries, 0 to 1037
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  1038 non-null   object
 1   id                    1038 non-null   object
 2   duration_ms_x         1038 non-null   int64
 3   explicit              1038 non-null   bool
 4   popularity            1038 non-null   int64
 5   danceability          1038 non-null   float64
 6   energy                1038 non-null   float64
 7   key                   1038 non-null   float64
 8   loudness              1038 non-null   float64
 9   mode                  1038 non-null   float64
 10  speechiness           1038 non-null   float64
 11  acousticness          1038 non-null   float64
 12  instrumentalness      1038 non-null   float64
 13  liveness              1038 non-null   float64
 14  valence               1038 non-null   float64
 15  tempo                 1038 non-null   float64
 16  type                  1038 non-null   object
 17  uri                   1038 non-null   object
 18  track_href            1038 non-null   object
 19  analysis_url          1038 non-null   object
 20  duration_ms_y         1038 non-null   float64
 21  time_signature        1038 non-null   float64
 22  end_of_fade_in        1038 non-null   float64
 23  start_of_fade_out     1038 non-null   float64
 24  analysis_sample_rate  1038 non-null   int64
 25  error                 0 non-null      float64
dtypes: bool(1), float64(16), int64(3), object(6)
memory usage: 203.9+ KB

### Features

#### name: 
#### id: 
...

Because these songs were pulled from 7 different playlists, there could be a lot of overlap where 1 song is in 3 or 4 playlists and is in the dataframe 3 or 4 times. 
So our very first step will be to check for duplicates.

In [6]:
df.duplicated().value_counts()

False    944
True      94
dtype: int64

94 songs are duplicated so we need to remove them

In [7]:
len(df.drop_duplicates()) #should be 944 since 1038 - 94 = 944

944

In [8]:
df = df.drop_duplicates()

In [9]:
sum(df.duplicated())

0

Now that we have 0 duplicates, we can begin analyzing the data.

In [10]:
df.describe()

,duration_ms_x,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms_y,time_signature,end_of_fade_in,start_of_fade_out,analysis_sample_rate,error
count,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.0,0.0
mean,219760.225636,43.483051,0.622121,0.765781,5.500000,-5.643966,0.485169,0.075997,0.109521,0.155554,0.206735,0.366817,124.178453,219760.127119,3.991525,0.689903,212.496943,22050.0,NaN
std,56768.281313,21.897276,0.121056,0.148381,3.636156,2.284321,0.500045,0.072305,0.169090,0.285037,0.165790,0.205753,16.544259,56766.683397,0.172106,1.467243,55.897983,0.0,NaN
min,61022.000000,0.000000,0.184000,0.114000,0.000000,-20.792000,0.000000,0.025700,0.000023,0.000000,0.022200,0.031600,55.803000,61022.000000,1.000000,0.000000,61.022040,22050.0,NaN
25%,181003.000000,32.000000,0.544000,0.684750,2.000000,-6.841250,0.000000,0.039575,0.005755,0.000004,0.095050,0.195000,120.041500,181003.000000,4.000000,0.000000,174.725813,22050.0,NaN
50%,207048.500000,48.000000,0.629000,0.794000,6.000000,-5.318500,0.000000,0.051100,0.031850,0.001465,0.139000,0.351000,126.037000,207049.500000,4.000000,0.064305,199.793195,22050.0,NaN
75%,243543.250000,59.000000,0.706000,0.878000,9.000000,-3.995500,1.000000,0.079225,0.148000,0.134000,0.283500,0.510250,128.029000,243543.250000,4.000000,0.353948,235.582395,22050.0,NaN
max,463226.000000,90.000000,0.946000,0.999000,11.000000,-0.570000,1.000000,0.869000,0.967000,0.972000,0.956000,0.977000,212.137000,463227.000000,5.000000,10.385120,450.501950,22050.0,NaN

There are two different duration columns so we need to determine if there's a difference between them (x and y)
x is of type int while y is floating type

In [11]:
df[["duration_ms_x", "duration_ms_y"]].head()

   duration_ms_x  duration_ms_y
0         167903       167903.0
1         208156       208156.0
2         238458       238459.0
3         181935       181935.0
4         182115       182116.0

In [12]:
def is_whole(n):
    return n % 1 == 0

In [13]:
df["duration_ms_y"].apply(is_whole)

0       True
1       True
2       True
3       True
4       True
        ...
1033    True
1034    True
1035    True
1036    True
1037    True
Name: duration_ms_y, Length: 944, dtype: bool

In [14]:
sum(df["duration_ms_y"].apply(is_whole))

944

All the durations are whole numbers so we can use the integer version and drop the float version

In [15]:
df = df.drop(["duration_ms_y"], axis = 1)

In [16]:
df.columns

Index(['name', 'id', 'duration_ms_x', 'explicit', 'popularity', 'danceability',
       'energy', 'key', 'loudness', 'mode', 'speechiness', 'acousticness',
       'instrumentalness', 'liveness', 'valence', 'tempo', 'type', 'uri',
       'track_href', 'analysis_url', 'time_signature', 'end_of_fade_in',
       'start_of_fade_out', 'analysis_sample_rate', 'error'],
      dtype='object')

Change now rename duration_ms_x to just duration_ms

In [17]:
df = df.rename(columns={"duration_ms_x": "duration_ms"})

In [18]:
df.head(1)

,name,id,duration_ms,explicit,popularity,danceability,energy,key,loudness,mode,...,tempo,type,uri,track_href,analysis_url,time_signature,end_of_fade_in,start_of_fade_out,analysis_sample_rate,error
0,Paradise (feat. Dermot Kennedy),6ft4hAq6yde8jPZY2i5zLr,167903,False,90,0.632,0.595,8.0,-7.644,0.0,...,124.114,audio_features,spotify:track:6ft4hAq6yde8jPZY2i5zLr,https://api.spotify.com/v1/tracks/6ft4hAq6yde8...,https://api.spotify.com/v1/audio-analysis/6ft4...,4.0,0.0,164.94295,22050,NaN

Next, we can look at the error column

In [19]:
df["error"]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1033   NaN
1034   NaN
1035   NaN
1036   NaN
1037   NaN
Name: error, Length: 944, dtype: float64

In [20]:
sum(pd.isna(df["error"])) #can sum up booleans where True = 1 and False = 0

944

Since our sum is 1038 (the length of the dataframe) we know every row has a True value and therfore every row has a NaN value for error. Since every row has nothing in the error column, we can drop it as well

In [21]:
df = df.drop(["error"], axis = 1)

In [22]:
df.head(1)

,name,id,duration_ms,explicit,popularity,danceability,energy,key,loudness,mode,...,valence,tempo,type,uri,track_href,analysis_url,time_signature,end_of_fade_in,start_of_fade_out,analysis_sample_rate
0,Paradise (feat. Dermot Kennedy),6ft4hAq6yde8jPZY2i5zLr,167903,False,90,0.632,0.595,8.0,-7.644,0.0,...,0.435,124.114,audio_features,spotify:track:6ft4hAq6yde8jPZY2i5zLr,https://api.spotify.com/v1/tracks/6ft4hAq6yde8...,https://api.spotify.com/v1/audio-analysis/6ft4...,4.0,0.0,164.94295,22050

Now let's look at analysis sample rate

In [23]:
df["analysis_sample_rate"]

0       22050
1       22050
2       22050
3       22050
4       22050
        ...
1033    22050
1034    22050
1035    22050
1036    22050
1037    22050
Name: analysis_sample_rate, Length: 944, dtype: int64

It seems to be the same for every row but let's check to make sure

In [24]:
df[df["analysis_sample_rate"] != 22050]

Empty DataFrame
Columns: [name, id, duration_ms, explicit, popularity, danceability, energy, key, loudness, mode, speechiness, acousticness, instrumentalness, liveness, valence, tempo, type, uri, track_href, analysis_url, time_signature, end_of_fade_in, start_of_fade_out, analysis_sample_rate]
Index: []

[0 rows x 24 columns]

Every row has the same sample rate so this feature won't be any help to us and we can drop it

In [25]:
df = df.drop(["analysis_sample_rate"], axis = 1)

In [26]:
df.head(1)

,name,id,duration_ms,explicit,popularity,danceability,energy,key,loudness,mode,...,liveness,valence,tempo,type,uri,track_href,analysis_url,time_signature,end_of_fade_in,start_of_fade_out
0,Paradise (feat. Dermot Kennedy),6ft4hAq6yde8jPZY2i5zLr,167903,False,90,0.632,0.595,8.0,-7.644,0.0,...,0.209,0.435,124.114,audio_features,spotify:track:6ft4hAq6yde8jPZY2i5zLr,https://api.spotify.com/v1/tracks/6ft4hAq6yde8...,https://api.spotify.com/v1/audio-analysis/6ft4...,4.0,0.0,164.94295

In [27]:
df["type"]

0       audio_features
1       audio_features
2       audio_features
3       audio_features
4       audio_features
             ...
1033    audio_features
1034    audio_features
1035    audio_features
1036    audio_features
1037    audio_features
Name: type, Length: 944, dtype: object

In [28]:
df[df["type"] != "audio_features"]

Empty DataFrame
Columns: [name, id, duration_ms, explicit, popularity, danceability, energy, key, loudness, mode, speechiness, acousticness, instrumentalness, liveness, valence, tempo, type, uri, track_href, analysis_url, time_signature, end_of_fade_in, start_of_fade_out]
Index: []

[0 rows x 23 columns]

Type is also the same for every row

In [29]:
df = df.drop(["type"], axis = 1)

Let's see if uri, track_href, or analysis_url are interesting at all

In [30]:
df["uri"]

0       spotify:track:6ft4hAq6yde8jPZY2i5zLr
1       spotify:track:3Be7CLdHZpyzsVijme39cW
2       spotify:track:4Gcv5SsxnQWpmOnUI19EJk
3       spotify:track:1MF0hyC0NLN0IcI4FpQKYl
4       spotify:track:0PGpWcKIlayTwPdz6Qstol
                        ...
1033    spotify:track:0yixe2v2gvdFjjkYksdITQ
1034    spotify:track:4J2mpvxYoHzjUkCjn1WEfY
1035    spotify:track:1F4oy2dEExiaGFCgmO9VrB
1036    spotify:track:63wlUcpD7LiFbBueVQAis7
1037    spotify:track:1dA9GzuP546CjJT0n9tZoe
Name: uri, Length: 944, dtype: object

In [31]:
df[["id", "uri"]].head(3)

                       id                                   uri
0  6ft4hAq6yde8jPZY2i5zLr  spotify:track:6ft4hAq6yde8jPZY2i5zLr
1  3Be7CLdHZpyzsVijme39cW  spotify:track:3Be7CLdHZpyzsVijme39cW
2  4Gcv5SsxnQWpmOnUI19EJk  spotify:track:4Gcv5SsxnQWpmOnUI19EJk

uri is just the track id with spotify:track: in front of it so uri won't be any help

In [32]:
df = df.drop(["uri"], axis = 1)

In [33]:
df["track_href"].head(3)

0    https://api.spotify.com/v1/tracks/6ft4hAq6yde8...
1    https://api.spotify.com/v1/tracks/3Be7CLdHZpyz...
2    https://api.spotify.com/v1/tracks/4Gcv5SsxnQWp...
Name: track_href, dtype: object

track_href and analysis_url are a similar story

In [34]:
df = df.drop(["track_href"], axis = 1)

In [35]:
print(df["analysis_url"].iloc[0])
print(df["analysis_url"].iloc[1])
print(df["analysis_url"].iloc[2])

https://api.spotify.com/v1/audio-analysis/6ft4hAq6yde8jPZY2i5zLr
https://api.spotify.com/v1/audio-analysis/3Be7CLdHZpyzsVijme39cW
https://api.spotify.com/v1/audio-analysis/4Gcv5SsxnQWpmOnUI19EJk

In [36]:
df = df.drop(["analysis_url"], axis = 1)

In [37]:
df.head(2)

,name,id,duration_ms,explicit,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,end_of_fade_in,start_of_fade_out
0,Paradise (feat. Dermot Kennedy),6ft4hAq6yde8jPZY2i5zLr,167903,False,90,0.632,0.595,8.0,-7.644,0.0,0.0401,0.0689,0.0,0.2090,0.435,124.114,4.0,0.00000,164.94295
1,What's Love Got to Do with It,3Be7CLdHZpyzsVijme39cW,208156,False,80,0.750,0.664,8.0,-5.908,0.0,0.1540,0.2750,0.0,0.0632,0.617,105.023,4.0,0.17941,200.16762

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 944 entries, 0 to 1037
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               944 non-null    object
 1   id                 944 non-null    object
 2   duration_ms        944 non-null    int64
 3   explicit           944 non-null    bool
 4   popularity         944 non-null    int64
 5   danceability       944 non-null    float64
 6   energy             944 non-null    float64
 7   key                944 non-null    float64
 8   loudness           944 non-null    float64
 9   mode               944 non-null    float64
 10  speechiness        944 non-null    float64
 11  acousticness       944 non-null    float64
 12  instrumentalness   944 non-null    float64
 13  liveness           944 non-null    float64
 14  valence            944 non-null    float64
 15  tempo              944 non-null    float64
 16  time_signature     944 non-null    float64
 17  end_of_fade_in     944 non-null    float64
 18  start_of_fade_out  944 non-null    float64
dtypes: bool(1), float64(14), int64(2), object(2)
memory usage: 141.0+ KB

The next step is to determine which variable are continuous and which are discrete / incremental. We won't worry about name and id for now

In [39]:
df["duration_ms"].head(3) #definitely a continuous value

0    167903
1    208156
2    238458
Name: duration_ms, dtype: int64

In [40]:
df["explicit"].value_counts()

False    904
True      40
Name: explicit, dtype: int64

In [43]:
#explore names of explicit songs
df[df["explicit"] == True]["name"]

65                                       It Won't Stop Me
82                                  Roses - Imanbek Remix
97                                            Shame On Me
120                    Without You (feat. Sandro Cavazza)
127                                                 Money
235           I'm Your Friend Juicy Pen (Radio Trap Edit)
245                             Bleu Chanel (NA-NO Remix)
248                                             Instagram
249                                Rave (feat. Kris Kiss)
259                      Thing For You - Don Diablo Remix
290                                       Change My Heart
296              WTF (feat. Amber Van Day) - Tujamo Remix
483                          So Cold (feat. Lily Denning)
563                         Day 'N' Nite - Crookers Remix
613                                      Internet Friends
646                                  Who Is Ready to Jump
656     Pursuit Of Happiness - Extended Steve Aoki Rem...
698                                  Creep - mint Singles
708                            Issues - Alan Walker Remix
724                              HUMBLE. - SKRILLEX REMIX
757                                      Crawl Outta Love
763                           Without Me - ILLENIUM Remix
785                                Feels - Jai Wolf Remix
791                           It's Strange (feat. K.Flay)
802                                    Often - Kygo Remix
822                                                Say It
825                                    idfc (Tarro Remix)
830                                             Tennessee
839                         Never Be Like You (feat. Kai)
847     All My Friends (feat. Tinashe & Chance the Rap...
849                               Say It - Illenium Remix
949     Old Thing Back (feat. Ja Rule and Ralph Tresvant)
960                                      Go Fuck Yourself
968                                                  NUMB
975                                          Just Friends
991                                       Had Some Drinks
998                                             Different
999                                               Options
1021                                Roses - Imanbek Remix
1033                                         Lana Del Dre
Name: name, dtype: object

We should be able to keep explicit as boolean but can change it to int if needed

In [52]:
 df[["popularity", "acousticness", "danceability", "energy", "instrumentalness", "liveness", "loudness", "speechiness", "valence"]].describe()

,popularity,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,valence
count,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000
mean,43.483051,0.109521,0.622121,0.765781,0.155554,0.206735,-5.643966,0.075997,0.366817
std,21.897276,0.169090,0.121056,0.148381,0.285037,0.165790,2.284321,0.072305,0.205753
min,0.000000,0.000023,0.184000,0.114000,0.000000,0.022200,-20.792000,0.025700,0.031600
25%,32.000000,0.005755,0.544000,0.684750,0.000004,0.095050,-6.841250,0.039575,0.195000
50%,48.000000,0.031850,0.629000,0.794000,0.001465,0.139000,-5.318500,0.051100,0.351000
75%,59.000000,0.148000,0.706000,0.878000,0.134000,0.283500,-3.995500,0.079225,0.510250
max,90.000000,0.967000,0.946000,0.999000,0.972000,0.956000,-0.570000,0.869000,0.977000

All continuous (check Spotify API Endpoint Reference for Get Audio Features for a Track)

Loudness is negative but the Spotify documentation says "values typical range between -60 and 0 db" so we don't need to worry

In [45]:
df["key"].head()

0    8.0
1    8.0
2    0.0
3    7.0
4    8.0
Name: key, dtype: float64

Key is "The estimated overall key of the track. Integers map to pitches using standard Pitch Class notation . E.g. 0 = C, 1 = C♯/D♭, 2 = D, and so on. If no key was detected, the value is -1."

So key is a discrete value and we need to convert it to one

Mode "indicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived. Major is represented by 1 and minor is 0"

So we will need to convert it as well

# TO DO: Get dummies

We still need to check tempo, time_signature, end_of_fade_in, and start_of_fade_out